@font-face {
  font-family: 'MontExtraLight';
  src: url('/public/fonts/Mont-ExtraLightDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontHeavy';
  src: url('/public/fonts/Mont-HeavyDEMO.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'MyFMontExtraLightont1', sans-serif;
}

h1 {
  font-family: 'MontHeavy', serif;
}